<br>
<div class=" card media position-relative" style="width: 40%; margin: auto;">
  <div class="card-body">
    <h5 class="card-title">Portafolio</h5>
    <p class="card-text">Si desea saber mas información del desarrollador, de este dominio vaya al link adjunto</p>
    <a href="http://portafolio.jmachuca.net/" class="btn btn-primary stretched-link">Portafolio</a>
  </div>
</div>
<br>
<div class=" card media position-relative" style="width: 40%; margin: auto;;">
  <div class="card-body">
    <h5 class="card-title">Blog Stephanie</h5>
    <p class="card-text">En construcción ... </p>
    <a href="http://portafolio.jmachuca.net/" class="btn btn-primary stretched-link" disabled>Blog Pepa</a>
  </div>
</div>