<br>
<div class=" card media position-relative" style="width: 40%; margin: auto;">
  <div class="card-body">
    <img src="../assets/portafolio.jmachuca.net.jpg" class="card-img-top img-thumbnail" alt="" title="ver más" >
    <h5 class="card-title">Portafolio</h5>
    <p class="card-text">Más información del desarrollador...</p>
    <a href="http://portafolio.jmachuca.net/" class="btn btn-primary stretched-link">Portafolio</a>
  </div>
</div>
<br>
<div class=" card media position-relative" style="width: 40%; margin: auto;">
  <div class="card-body">
    <img src="../assets/mantence.png" class="card-img-top img-thumbnail" alt="" title="ver más" style="    width: 60%;
    height: 50%;" >
    <h5 class="card-title">Blog Stephanie</h5>
    <p class="card-text">En construcción ... </p>
    <button href="http://portafolio.jmachuca.net/" class="btn btn-primary stretched-link disabled" tabindex="-1" [disabled]="true">Blog Pepa</button>
  </div>
</div>